* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

header {
    color: #39B385;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    font-size: 16px;
    position: relative;
    padding-top: 100px;
}

header h1 {
    text-transform: uppercase;
    font-size: 1.7em;
    letter-spacing: 1px;
}

.sign-in, .sign-up{
    background-color: #a2bb86;
    color: white;
    padding: 12px;
    border-radius: 25px;
    text-decoration: none;
}

.menu {
    display: flex;
    padding-bottom: 100px;
}

.menu button {
    display: none;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-list li {
    display: inline-block;
    margin-left: 32px;
    font-size: 1.1em;
    cursor: pointer;
    transition: color 0.3s;
}

.menu-list li.active,
.menu-list li:hover {
    color: #ff5360;
}

.main {
    flex: 1;
    display: flex;
    align-items: center;
}

.right img {
    width: 100%;
}

.left {
    max-width: 45%;
    padding: 40px 64px;
}

.right {
    padding: 40px 48px;
}

.title {
    color: #f48d96;
    font-size: 3.2em;
    width: 90%;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 48px;
    font-family: 'Poppins', sans-serif;
}

.msg {
    color: #000000;
    font-size: 1.6em;
    letter-spacing: 0.7px;
    line-height: 32px;
    margin-bottom: 48px;
    font-family: 'Poppins', sans-serif;
}

button.cta {
    border: none;
    outline: none;
    background-color: #3e1e6f;
    color: #fff;
    padding: 18px 32px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1),
    0 15px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: opacity 0.9;
}

button.cta:hover {
    opacity: 0.9;
}

/*  -----    RESPONSIVENESS    -----  */

@media (max-width:800px) {
    header,
    .left,
    .right {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 650px) {

    .main {
        flex-direction: column;
        justify-content: center;
    }

    .left,
    .right {
        width: 100%;
        max-width: 100%;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left {
        font-size: 0.8em;
    }

    .left * {
        width: 95%;
        margin-bottom: 32px;
        text-align: center;
    }

    button.cta {
        max-width: 60%;
    }

    .right img {
        width: 80%;
    }

    /* Nav Menu Responsiveness */

    .menu button {
        display: block;
        width: 40px;
        height: 40px;
        border: none;
        background: transparent;
        color: #711def;
        outline: none;
        font-size: 1.7em;
        cursor: pointer;
        z-index: 2;
    }

    .menu i.fa-times,
    .menu.opened i.fa-bars {
        display: none;
    }

    .menu.opened i.fa-times,
    .menu i.fa-bars {
        display: block;
        animation: enter 0.8s;
    }

    @keyframes enter {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .right{
        padding-left: 2000px;
    }

    .menu-list {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        background-color: #711def;
        color: #fff;
        padding: 46px;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 80px;
        transform: translateX(100%);
        transition: transform 0.5s;
    }

    .menu-list li {
        font-size: 1.7em;
        margin: 32px 0px;
    }

    .menu.opened .menu-list {
        transform: translateX(0);
    }

    .menu.opened button {
        color: #fff;
    }
}

/* css for sliding cards */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
  }
  .container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-container {
    margin: 0 30px;
    overflow: hidden;
  }
  .card {
    background: #fff;
    border-radius: 8px;
  }
  .card .image-box {
    height: 200px;
  }
  .card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
  }
  .card .profile-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
  }
  .card .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .profile-details .name {
    font-size: 15px;
    font-weight: 500;
  }
  .profile-details .job {
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
  }
  .swiper-navBtn {
    color: #000;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after {
    font-size: 18px;
  }
  .swiper-pagination-bullet {
    background-color: #000;
  }
  @media screen and (max-width: 768px) {
    .swiper-navBtn {
      display: none;
    }
  }
  .review{
    margin-top: 12px;
    margin-left: 25px;
  }

/* rating bar */


.skills{
    margin-top: 220px;
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
}
.skills .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #4070f4;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.skill-per.css{
    width: 70%;
    animation-delay: 0.1s;
}
.skill-per.javascript{
    width: 50%;
    animation-delay: 0.2s;
}
.skill-per.nodejs{
    width: 30%;
    animation-delay: 0.3s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);
}

/* footer */

.footer-condition{
  background-color: #000000;
  margin-top: 30px;
  color: #ffffff;
}
.footer-condition{
  width: 100%;
  color: #fff;
  text-align: center;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}


:root {
    --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
    background-color: #f3f3f3;
  }
  
  /* GENERAL ELEMENTS */
  .section {
    padding: 15rem 3rem;
    border-top: 1px solid #ddd;
  
    transition: transform 1s, opacity 1s;
  }
  
  .section--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
  
  .section__title {
    max-width: 80rem;
    margin: 0 auto 8rem auto;
  }
  
  .section__description {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 1rem;
  }
  
  .section__header {
    font-size: 4rem;
    line-height: 1.3;
    font-weight: 500;
  }
  
  .btn {
    display: inline-block;
    background-color: var(--color-primary);
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .btn:hover {
    background-color: var(--color-primary-darker);
  }
  
  .btn--text {
    display: inline-block;
    background: none;
    font-size: 1.7rem;
    font-family: inherit;
    font-weight: 500;
    color: var(--color-primary);
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
  }
  

  
  /* This is BAD for accessibility! Don't do in the real world! */
  button:focus {
    outline: none;
  }
  
  img {
    transition: filter 0.5s;
  }
  
  
  /* NAVIGATION */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    padding: 0 6rem;
    z-index: 100;
  }
  
  /* nav and stickly class at the same time */
  .nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
  }
  
  .nav__logo {
    height: 4.5rem;
    transition: all 0.3s;
  }
  
  .nav__links {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .nav__item {
    margin-left: 4rem;
  }
  
  .nav__link:link,
  .nav__link:visited {
    font-size: 1.7rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }
  
  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    background-color: var(--color-primary);
    color: #222;
  }
  
  .nav__link--btn:hover,
  .nav__link--btn:active {
    color: inherit;
    background-color: var(--color-primary-darker);
    color: #333;
  }
  
  /* HEADER */
  .header {
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header__title {
    flex: 1;
  
    max-width: 115rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    row-gap: 3rem;
    align-content: center;
    justify-content: center;
  
    align-items: start;
    justify-items: start;
  }
  
  h1 {
    font-size: 5.5rem;
    line-height: 1.35;
  }
  
  h4 {
    font-size: 2.4rem;
    font-weight: 500;
  }
  
  .header__img {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    transform: translateY(-6rem);
  }
  
  .highlight {
    position: relative;
  }
  
  .highlight::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: var(--gradient-primary);
  }
  
  /* FEATURES */
  .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 0 12rem;
  }
  
  .features__img {
    width: 100%;
  }
  
  .features__feature {
    align-self: center;
    justify-self: center;
    width: 70%;
    font-size: 1.5rem;
  }
  
  .features__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-opacity);
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
  
  .features__icon svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-primary);
  }
  
  .features__header {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  








